@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.circle {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 200px;

  pointer-events: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.cursorText {
  flex: auto;
  font-size: inherit;
  pointer-events: none;
  margin: auto;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #3f3f3f;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #000;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent !important;
}
::selection {
  background: #2d2d2d;
  transition: opacity 0.2s ease-in-out;
  color: #f1f1f1;
  text-shadow: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --darkblue: #141c27;
  --green: #55e6a5;
  --body: #a2a2a2;
  --bgColor: #09101a;
}
.mainBtn {
  background-color: var(--green);
  border: none;
  font-size: 16px;
  width: fit-content;
  font-weight: 500;
  padding: 20px 35px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: all 0.3s linear 0s;
}
.mainBtn:hover {
  background-color: var(--darkblue);
  color: #fff;
}
p {
  color: var(--body);
}
nav {
  display: flex;
  background-color: var(--darkblue);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 10;
  left: 10%;
}
.brand {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: flex-start;
}
.brand img {
  width: 72px;
  background-color: var(--green);
  padding: 12px;
}
.brand h3 {
  font-size: 28px;
  font-weight: 600;
}
.navLinks {
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: #fff;
  align-items: center;
}
.banner {
  height: 100vh;
  width: 100%;
  background-image: url("./assets/banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 1rem 2rem;
}
.bannerDescription {
  color: #fff;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bannerDescription h1 {
  font-size: 54px;
  font-weight: 800;
  line-height: 3.8rem;
}
.bannerDescription h1 span {
  color: var(--green);
}
.profilePic img {
  height: 600px;
  width: 570px;
  animation: pfp 2s infinite;
  transition: 3s;
  transform: translateY(0);
}
@keyframes pfp {
  0%,
  100% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(7px);
  }
}
@media screen and (max-width: 1024px) {
  .banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    height: fit-content;
  }
  .bannerDescription {
    width: 70%;
  }
}
@media screen and (max-width: 868px) {
  nav {
    width: 100%;
    left: 0;
  }
}
@media screen and (max-width: 676px) {
  .navLinks {
    display: none;
  }
  nav {
    justify-content: space-between;
    position: initial;
  }
  .banner {
    padding-top: 150px;
  }
  .bannerDescription h1 {
    font-size: 2rem;
    line-height: 1.8rem;
  }
  .bannerDescription {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .profilePic img {
    width: 100%;
    height: auto;
  }
  .scroll {
    display: none;
  }
}

.services {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
.titles h3 {
  color: var(--green);
  font-size: 22px;
}
.serviceCards {
  display: flex;
  margin-top: 10%;
  gap: 1rem;
}
.serviceCards .card {
  border: 2px solid rgba(128, 128, 128, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-top: 5rem;
  position: relative;
  text-align: center;
}
.serviceCards .card img {
  position: absolute;
  top: -50px;
  aspect-ratio: 1/1;
  width: 100px;
}
.serviceCards .card h3 {
  font-weight: 500;
  font-size: calc(12px + 1vw);
  margin-bottom: 12px;
}
.serviceCards .card p {
  font-size: calc(10px + 0.5vw);
}
@media screen and (max-width: 924px) {
  .serviceCards {
    flex-direction: column;
    gap: 4rem;
    margin-top: 5rem;
  }
  .serviceCards .card img {
    width: 75px;
    top: -37.5px;
  }
  .titles h1 {
    line-height: 2rem;
  }
  .services {
    padding: 5rem 3rem;
  }
}
@media screen and (max-width: 500px) {
  .services {
    padding: 5rem 1rem;
  }
}
@media screen and (max-width: 442px) {
  .titles h1 {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.7rem;
  }
  .titles h3 {
    font-size: 18px;
  }
  .titles {
    gap: 0.7rem;
  }
  .serviceCards .card {
    padding: 3.5rem 1rem;
  }
}

.scroll {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.scrollLevel {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: 65px;
  z-index: 2;
}
.line {
  height: 270px;
  position: absolute;
  width: 15px;
  top: 15px;
  border-radius: 12px;
  background-color: #fff;
  overflow: visible;
}
#over {
  position: absolute;
  top: 15px;

  width: 15px;
  border-radius: 12px;

  background-color: var(--green);
  z-index: 1;
}

.scrollLevelFill {
  background-color: var(--darkblue);
  color: #fff;
}

.scrollMobile {
  width: 100%;
  height: 4px;
  background-color: gray;
  position: fixed;
  display: none;
  top: 72px;
}
.scrollMobile div {
  height: 4px;
  background-color: var(--green);
}
@media screen and (max-width: 924px) {
  .scroll {
    display: none;
  }
  .scrollMobile {
    display: flex;
  }
  nav {
    width: 100%;
    left: 0;
    position: fixed;
  }
}

.about {
  display: flex;
  background-color: #000;
  color: #fff;
  padding: 5rem;
  justify-content: space-between;
}
.about .aboutDescription h3 {
  color: var(--green);
}
.about .aboutDescription h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 4rem;
}
.about .aboutDescription div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  padding: 4rem;
  margin-left: 102px;
}
.about .aboutDescription div p {
  width: 100%;
  max-width: 417px;
  position: relative;
}
.about .aboutDescription div p::after {
  position: absolute;
  content: "";
  left: -150px;
  top: 0;
  width: 102px;
  height: 2px;
  background-color: var(--body);
}
.about .pic {
  position: relative;
  z-index: 1;
  height: 475px;
  width: 395px;
  right: 50px;
}
.about .pic img {
  z-index: 2;
  position: relative;
  height: 100%;
  width: 100%;
}
.about .pic::after {
  position: absolute;
  content: "";
  top: -20px;
  right: -20px;
  background-color: var(--green);
  height: 85%;
  width: 95%;
  z-index: 1;
}
@media screen and (max-width: 1300px) {
  .about .pic {
    right: initial;
  }
}
@media screen and (max-width: 1248px) {
  .about .pic {
    width: fit-content;
    height: fit-content;
  }
  .about .pic::after {
    top: -15px;
    right: -15px;
    height: 85%;
    width: 95%;
  }
  .about .aboutDescription h3 {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .about .aboutDescription h1 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 932px) {
  .about {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5rem 2rem;
  }
  .about .aboutDescription div {
    padding: 3rem 0;
    margin-left: 0;
    align-items: center;
  }
  .about .pic {
    display: none;
  }
  .about .aboutDescription h1 {
    line-height: 2.9rem;
  }
  .about .aboutDescription div p::after {
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
  }
  .about .aboutDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .about .aboutDescription h1 {
    line-height: 2rem;
    font-size: 2rem;
  }
  .about .aboutDescription h3 {
    font-size: 1.2rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 496px) {
  .about .aboutDescription h1 {
    line-height: 2rem;
    font-size: 1.5rem;
  }
  .about .aboutDescription h3 {
    font-size: 1rem;
    line-height: 2rem;
  }
  .about .aboutDescription div p {
    font-size: 14px;
  }
  .about {
    padding: 5rem 1rem;
  }
}

.contact {
  background-color: #000;
  padding: 5rem;
  display: flex;
  gap: 1rem;
}
.contact div {
  width: 50%;
}

.contact .description {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.contact .description .title {
  color: #fff;
  width: 100%;
}
.contact .description .title h1 {
  font-size: 122px;
  font-weight: 600;
  line-height: 4.8rem;
}
.contact .description .title h1 span {
  font-size: 58px;
}
.contact .description .stats {
  display: flex;
  width: 100%;
  gap: 1rem;
}
.contact .description .stats .stat {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 28px 0;
  gap: 2rem;
  flex-direction: column;
  background-color: var(--bgColor);
  width: 50%;
}
.contact .description .stats .stat img {
  width: 100px;
}
.contact .description .stats .stat h4 {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  line-height: 1.8rem;
  position: relative;
  top: 16px;
}
.contact .description .stats .stat p {
  font-size: 18px;
  color: #fff;
}

.contact .contactForm {
  background-color: var(--bgColor);
  padding: 3.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact .contactForm h1 {
  font-size: 2.7rem;
  font-weight: 600;
}
.contact .contactForm input,
.contact .contactForm textarea {
  width: 100%;
  resize: none;
  padding: 22px 20px;
  background-color: transparent;
  border: 1px solid var(--green);
  font-size: 16px;
  outline: none;
  color: #fff;
  font-weight: 500;
}

@media screen and (max-width: 1076px) {
  .contact {
    flex-direction: column;
  }
  .contact .description {
    width: 100%;
  }
  .contact .contactForm {
    width: 100%;
  }
}
@media screen and (max-width: 612px) {
  .contact {
    padding: 5rem 1rem;
  }
  .contact .description .title h1 {
    font-size: 104px;
  }
  .contact .contactForm {
    padding: 2.5rem;
  }
}
@media screen and (max-width: 486px) {
  .contact,
  .about {
    padding: 0rem 1rem;
  }
  .contact .description {
    gap: 1rem;
  }
  .contact .description .title h1 {
    font-size: 84px;
    line-height: 2.8rem;
  }
  .contact .description .title h1 span {
    font-size: 38px;
  }
  .contact .description p {
    font-size: 14px;
  }
  .contact .contactForm {
    padding: 1rem;
  }
  .contact .description .stats .stat h4 {
    font-size: 32px;
    line-height: 1rem;
  }
  .contact .description .stats .stat p {
    font-size: 16px;
    text-align: center;
  }
  .contact .description .stats .stat img {
    width: 70px;
  }
  .contact .contactForm {
    gap: 1rem;
  }
  .contact .contactForm h1 {
    font-size: 2rem;
  }
  .contact .contactForm p {
    font-size: 14px;
  }
}

@media screen and (max-width: 422px) {
  .contact .description .title h1 {
    font-size: 64px;
    line-height: 1.7rem;
  }
  .contact .description .title h1 span {
    font-size: 28px;
  }
}
